/*.header-section {*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*}*/

.header-section {
    background: #353535;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 24px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}
.header {
    background-color: mintcream;
}
.rightpic {
    float: left; /* Выравнивание по правому краю */
}
.btn {
    margin-left: 20px;
}